<div class="add-room-select">

    <h2 class="add-room-header"> <span class="glyphicon glyphicon-map-marker"></span>  Add Room(s) </h2>

    <div class="error-msg">{{errorMsg}}</div>

        <div class="room-body">

        <label > <span class="glyphicon glyphicon-tags"></span> Room Type</label>
        <select class="browser-default custom-select form-control"  [(ngModel)]="roomType">
            <option>Single</option>
            <option>Double</option>
            <option>Triple</option>
            <!-- <option>Misc</option> -->
        </select> 
    
        <label for="name"><span class="glyphicon glyphicon-tag"></span>  Number of Rooms</label>
        <input type="number" class="form-control" [(ngModel)]="numOfRooms" >  

        <label for="RoomNumbers"><span class="glyphicon glyphicon-list"></span> Room Numbers  <p class="notes"> Note: Please provide valid room numbers with comma seperated</p></label>    
        <textarea class="form-control" [(ngModel)]="roomNumbers" ></textarea>

        <label for="name"><span class="glyphicon glyphicon-tag"></span>  Room Rent</label>
        <input type="text" class="form-control" [(ngModel)]="roomRent">

        <label for="Comments"><span class="glyphicon glyphicon-list-alt"></span>Comments</label>
        <input type="text" class="form-control " id="hostelType" [(ngModel)]="comments" >

    </div>

    <div class="add-room-popup-buttons">
        <button   class="sub-room-box-edit" (click)="close()"> CLOSE </button>
        <button   class="sub-room-box-edit"  type="submit" (click)="addRoomToHostel()"> ADD ROOMS</button>
    </div>

</div>



<!-- End D Floor-->