input {
    width: 100%;
    border: none;
    background: rgba(0, 0, 0, 0.08);
    padding: 10px;
    color: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 15px;
    &:focus{
      outline: none;
    }
  }
  .input-area {
    width: 100%;
    form {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        flex-direction: column;
        max-width: 450px;
        input {
          @extend %input;
          margin: 0 0 10px 0;
        }
        /* textarea {
          @extend %input;
        } */
      }
      button {
        width: 25%;
        border: none;
        background: darkslategray;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-top: 10px;
        padding: 5px 20px;
        border-radius: 27px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
          0 2px 4px 0 rgba(0, 0, 0, 0.08);
      }
    }
  }