<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-sm-6 col-lg-3">-->
      <!--<div style="height:500px;width:500px;">-->
        <!--<canvas baseChart-->
          <!--[datasets]="barChartData"-->
          <!--[labels]="barChartLabels"-->
          <!--[options]="barChartOptions"-->
          <!--[plugins]="barChartPlugins"-->
          <!--[legend]="barChartLegend"-->
          <!--[chartType]="barChartType">-->
        <!--</canvas>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<h1>
  {{title}}!
</h1>

<div>
    <div class="col-sm-6 col-lg-3">
      <div style="height:500px;width:500px;">
  <canvas
      baseChart
      [chartType]="'bar'"
      [datasets]="chartData"
      [labels]="labels"
      [options]="chartOptions"
      [legend]="true"
      [colors]="colors"
      (chartClick)="onChartClick($event)">
  </canvas>
      </div>
    </div>
</div>
