 <!-- Sidebar -->
  
       

        
        <div class="nav">


                        <!-- class="sidebar navbar-nav" -->
                        <ul > 
                                        <div style="padding-bottom: 30px;padding-right: 20px"><img
                                                src="images/imgpsh_fullsize_anim%20(2).png">
                                        </div>
                
                                        <li >
                                                <a routerLink="profile">
                                                        <span class="glyphicon glyphicon-envelope"></span>
                                                        <span > Profile</span></a>
                                        </li>
                                 
                                        <li >
                                                <a routerLink="hostels">
                                                        <span class="glyphicon glyphicon-home"></span>
                                                        <span > Hostels</span>
                                                </a>
                                        </li>
                        
                                        <li >
                                                <a routerLink="hsubscription">
                                                        <span class="glyphicon glyphicon-bell"></span>
                                                        <span > Subscription</span></a>
                                        </li>
                                
                                        <li >
                                                <a routerLink="hpayment">
                                                        <span class="glyphicon glyphicon-yen"></span>
                                                        <span > Payments</span></a>
                                        </li>
                        
                                        <!-- <li >
                                                <a routerLink="management">
                                                        <span class="glyphicon glyphicon-exclamation-sign"></span>
                                                        <span > Management</span></a>
                                        </li> -->
                        
                                        <li >
                                                <a routerLink="user">
                                                        <span class="glyphicon glyphicon-user"></span>
                                                        <span >Tenants</span>
                                                </a>
                                        </li>
                                
                                
                                        <!-- <li >
                                                <a routerLink="roles">
                                                        <span class="glyphicon glyphicon-folder-close"></span>
                                                        <span > Roles</span></a>
                                        </li> -->
                                        
                                
                                        <li >
                                                <a routerLink="invoice">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                        <span > Invoices </span></a>
                                        </li>
                                
                                        <li >
                                                <a routerLink="expenses">
                                                        <span class="glyphicon glyphicon-plane"></span>
                                                        <span > Expenses</span>
                                                </a>
                                        </li>
                                
                                        <!-- <li >
                                                <a routerLink="">
                                                        <span class="glyphicon glyphicon-bell"></span>
                                                        <span > Notifications</span>
                                                </a>
                                            </li> -->
                                
                                        <li >
                                                <a routerLink="complaint">
                                                        <span class="glyphicon glyphicon-envelope"></span>
                                                        <span > Complaints</span></a>
                                        </li>
                        
                                        <li >
                                                <a href="#">
                                                        <span class="glyphicon glyphicon-cog"></span>
                                                        <span > Settings</span></a>
                                        </li>
                                
                                        <!-- <li >
                                                <a href="#">
                                                        <span class="glyphicon glyphicon-picture"></span>
                                                        <span > Rents</span></a>
                                        </li>
                                
                                        <li >
                                                <a href="#">
                                                        <span class="glyphicon glyphicon-lock"></span>
                                                        <span > Accounts</span></a>
                                        </li>-->
                                
                                         
                                </ul>
                        

                        <!-- <ul>
                                <div style="padding-bottom: 30px;padding-right: 20px"><img
                                        src="images/imgpsh_fullsize_anim%20(2).png"></div>
                                <li>
                                <a href="#"><span>Dashboard</span></a>
                                </li>
                                <li>
                                <a href="#"><span>Hostels</span></a>
                                </li>
                                <li>
                                <a href="#"><span>Subscriptions</span></a>
                                </li>
                                <li>
                                <a href="#"><span>Tenants</span></a>
                                </li>
                                <li>
                                <a href="#"><span>Payments</span></a>
                                </li>
                                <li>
                                <a href="#"><span>Invoices</span></a>
                                </li>
                                <li>
                                <a href="#"><span>Reports</span></a>
                                </li>
                                <li>
                                <a href="#"><span>Technical Issues</span></a>
                                </li>
                
                        </ul> -->
                        </div>        

