<div class="menu_part"> 

<div class="toplogo">
        <img src="assets/imges/logo.svg" class="logo_img" />
</div>
<div class="main_menu" (click)='selectMe($event)' >
        

<div  class="menu_item f14 p-0 m-0 " routerLink="hostels" [ngClass]="{'active': selectedItemId === 'HS'}" id="HS"  >  Hostels </div>
<div  class="menu_item f14 p-0 m-0 " routerLink="profile" [ngClass]="{'active': selectedItemId === 'PR'}" id="PR"  > Profile </div> 
<div  class="menu_item f14 p-0 m-0 " routerLink="hsubscription" [ngClass]="{'active': selectedItemId === 'SB'}" id="SB" >  Subscription </div>
<div  class="menu_item f14 p-0 m-0 " routerLink="guest" [ngClass]="{'active': selectedItemId === 'GU'}" id="GU" >  Guests </div>
<div  class="menu_item f14 p-0 m-0 " routerLink="payment" [ngClass]="{'active': selectedItemId === 'PT'}" id="PT" >  Payments </div>
<div  class="menu_item f14 p-0 m-0" routerLink="expenses" [ngClass]="{'active': selectedItemId === 'EX'}" id="EX" >  Expenses </div>
<div  class="menu_item f14 p-0 m-0 " routerLink="invoice" [ngClass]="{'active': selectedItemId === 'IN'}" id="IN" >  Invoices </div>
<div  class="menu_item f14 p-0 m-0 " routerLink="reservation" [ngClass]="{'active': selectedItemId === 'GR'}" id="GR" >  Guest Reservation </div>

                
</div>
</div>