<h4>Update Hostel</h4><hr><br/>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div>
            <label>Hostel Name</label>
        </div>
        <div>
            <input type="text" class="form-control col col-sm-6" [(ngModel)]="hostel.hostelName" name="hostelName"><br/>
        </div><br/>
     
        <div>
            <label>Hostel Address</label>
        </div>
        <div>
            <input type="text" class="form-control col col-sm-6" [(ngModel)]="hostel.hostelAddress" name="hostelAddress"><br/>
        </div><br/>
        <div>
            <label>Hostel Type</label>
        </div>
        <div>
            <input type="text" class="form-control col col-sm-6" [(ngModel)]="hostel.hostelType" name="hostelType"><br/>                
        </div><br/>
        <div>
            <label>Number of Floors</label>
        </div>
        <div>
            <input type="text" class="form-control col col-sm-6" [(ngModel)]="hostel.numOfFloors" name="numOfFloors"><br/>            
        </div><br/>
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>