.custom-select{
    height: calc(1.0em + 0.75rem + 12px);
    font-size: 14px;
    
}

.date-picker{
    display: flex;
}

.tc{
    width: 17px; 
    height: 16px;
}
 .generateInvoice{
    /* margin:auto;
    display:block; */
    /* position: relative;
    right:20%; */
 }
 
 .vacate{
    margin:auto;
    display:block; 
    position: relative;
    height: calc(1.0em + 0.75rem + 12px);
    font-size: 22px;
    
    display: inline-flex;
    text-align: center;
 }