.date-picker{
    display: flex;
}

.size{
    width:400px;
    height:60px;
    margin-top:70px;
    margin-left:30px;
}
.brder{
    border:1px solid black;

}
 .size_brder{
    width:400px;
    height:flex;
    border:1px solid black;

 }

