<div class="container">
    <form (ngSubmit)="onSubmit()">
        <div><h3>Vacate Application Form</h3></div><br/><br/>
        <div class="row">
            <div class="col col-md-4">
                <div>
                    <label><span class="glyphicon glyphicon-home"></span> Tenant Id </label>
                    <input type="text" class="form-control custom-select" [(ngModel)]="tenantId" name="tenantId" readonly>
                </div><br/>

                <label>
                    <span class="glyphicon glyphicon-calendar"></span> Informing Date 
                </label>
                <span class="date-picker">
                    <input type="text" required [matDatepicker]="picker" class="form-control custom-select" required [(ngModel)]="informingDate" name="informingDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>      
                    <mat-datepicker #picker></mat-datepicker> 
                </span>
                <br/>       
                    
                <div>
                    <label><span class="glyphicon glyphicon-align-justify"></span> Floor </label>
                    <input type="text" class="form-control custom-select"  [(ngModel)]="floorId" name="floorId" readonly>
                </div><br/>

                <div>
                    <label><span class="glyphicon glyphicon-bed"></span> Bed </label>
                    <input type="text" class="form-control custom-select"  [(ngModel)]="roomBedId" name="roomBedId" readonly>
                </div><br/>
            </div>
            <div class="col col-md-4">
                <div>
                    <label><span class="glyphicon glyphicon-home"></span> Room </label>
                    <input type="text" class="form-control custom-select"  [(ngModel)]="roomId" name="roomId" readonly>
                </div><br/>

                <label>
                    <span class="glyphicon glyphicon-calendar"></span> Vacating Date 
                </label>
                <span class="date-picker">
                    <input type="text" required [matDatepicker]="picker" class="form-control custom-select" required [(ngModel)]="vacate.date" name="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>      
                    <mat-datepicker #picker></mat-datepicker> 
                </span>
                <br/>     

                <div>
                    <label><span class="glyphicon glyphicon-bitcoin"></span> Rent </label>
                    <input type="text" class="form-control custom-select"  [(ngModel)]="roomRent" name="roomRent" readonly>
                </div><br/>
            </div>
        </div><br/>
        <button type="submit" class="form-control custom-select btn btn-success generateInvoice" (click)="getAmount()">
            Generate Invoice
        </button>
    <br/><br/>
    <div class="form-group">
            <div *ngIf="currentUser.role">
                <div>
                    <label><span class="glyphicon glyphicon-home"></span> Amount to be Paid </label>
                    <input type="text" class="form-control custom-select"  [value]="">
                </div><br/>

                <div>
                    <label><span class="glyphicon glyphicon-home"></span> Amount </label>
                    <input type="text" class="form-control custom-select">
                </div><br/>

                <div>
                    <label><span class="glyphicon glyphicon-home"></span> Discount </label>
                    <input type="text" class="form-control custom-select" >
                </div><br/>
            </div>

            <div>
                <label><span class="glyphicon glyphicon-bitcoin"></span> Total Amount </label>
                <input type="text" class="form-control custom-select" [(ngModel)]="refundAmount" name="refundAmount">
            </div><br/>

            <div>
                <label><span class="glyphicon glyphicon-list-alt"></span> Comments </label>
                <textarea class="form-control" style="width: 300px;" [(ngModel)]="vacate.comment" name="comment"></textarea>
            </div><br/>
            <input type="checkbox" class="tc" name="TC"> I have read and agree the Terms and Conditions
    </div>
    <div><button type="submit" class="form-control btn btn-success vacate">Vacate</button></div>
</form><br/>
</div>

<!-- <button type="reset" class="form-control vacate btn ">Cancel</button> -->