
<h2>Registration</h2>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group" style="width:300px"> 
        <label for="id">Id Number</label>
        <input type="text" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" />
        <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
            <div *ngIf="f.id.errors.required">id is required</div>
        </div>      
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
        <label for="emailId">Email Id</label>
        <input type="text" formControlName="emailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
        <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
            <div *ngIf="f.emailId.errors.required">emailId is required</div>
        </div>
        <label for="phonenumber">Phone Number</label>
        <input type="text" formControlName="phonenumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }" />
        <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
            <div *ngIf="f.phonenumber.errors.required">phonenumber is required</div>
        </div>
        <label for="role"><span class="glyphicon glyphicon-mobile"></span> Role:</label>
          <input  class="form-control" id="role" required [(ngModel)]="registration.role" [ngModelOptions]="{standalone: true}" name="role">
        
    <div >
        <button type="submit" class="btn btn-primary">
            <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
    </div>
</form>
