<!-- <div class="row">
    <div class="col-md-6 col-sm-12 col-lg-6 col-md-offset-3">
        <div class="panel">
            <h2>Enter Your Details Here</h2>
            
<form>
    <div class="form-group">
        <label for="firstName">First Name *</label>
        <input id="firstName" name="firstName" class="form-control" type="text" data-validation="required" [(ngModel)]="firstName">
        <span id="error_firstName" class="text-danger"></span>
        <div *ngIf="f.firstName.errors.required">First Name is required</div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name *</label>
        <input id="lastName" name="lastName" class="form-control" type="text" data-validation="required" [(ngModel)]="lastName">
        <span id="error_lastName" class="text-danger"></span>
        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
    </div>
    <div class="form-group">
        <label for="emailId">Email Id *</label>
        <input id="emailId" name="emailId" class="form-control" type="text" data-validation="emailId" [(ngModel)]="emailId">
        <span id="error_emailId" class="text-danger"></span>
        <div *ngIf="f.emailId.errors.required">EmailId is required</div>
    </div>
    <div class="form-group">
        <label for="dob">Date Of Birth *</label>
        <input type="date" name="dob" id="dob" class="form-control" [(ngModel)]="dob">
        <span id="error_dob" class="text-danger"></span>
        <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
    </div>
    <div class="form-group">
        <label for="phone">Phone Number *</label>
        <input type="text" id="phone" name="phone" class="form-control" [(ngModel)]="phone">
        <span id="error_phone" class="text-danger"></span>
        <div *ngIf="f.phone.errors.required">Phone Number is required</div>
    </div>
    <div class="form-group">
        <label for="gender">Gender</label>
        <select name="gender" id="gender" class="form-control" [(ngModel)]="gender">
            <option selected>--select--</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
        </select>
        <span id="error_gender" class="text-danger"></span>
        <div *ngIf="f.gender.errors.required">Gender is required</div>
    </div>
    <div class="form-group">
        <label for="password">Password *</label>
        <input id="password" name="password" class="form-control" type="password" data-validation="password" [(ngModel)]="password">
        <span id="error_password" class="text-danger"></span>
        <div *ngIf="f.password.errors.required">Password is required</div>
    </div> 
    <div class="form-group">
        <label for="conformpassword">Conform Password *</label>
        <input id="conformpassword" name="conformpassword" class="form-control" type="password" data-validation="conformpassword" [(ngModel)]="conformpassword">
        <span id="error_conformpassword" class="text-danger"></span>
        <div *ngIf="f.conformpassword.errors.required">Conform Password is required</div>
    </div> 
    <div class="input">
        <input type="button" value="Submit">
    </div>
</form>
</div>
</div>
</div> -->

<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="emailId">Email Id</label>
        <input type="text" formControlName="emailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
        <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
            <div *ngIf="f.emailId.errors.required">emailId is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="phonenumber">Phone Number</label>
        <input type="text" formControlName="phonenumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }" />
        <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
            <div *ngIf="f.phonenumber.errors.required">phonenumber is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
    </div>
</form>
