<div class="container">
    <div><h3>Vacate Requests</h3></div><br/>
    <div class="row">
        
        <div class="col col-md-8">
            <table class="table table-striped">
                <tr>
                    <th><span class="glyphicon glypicon-list-alt"></span>Id</th>
                    <th><span class="glyphicon glyphicon-user"></span> Tenant Name</th>
                    <th><span class="glyphicon glyphicon-bitcoin"></span>Amount</th>
                    <th><span class="glyphicon glypicon-list-alt"></span>Hostel Id</th>
                    <th><span class="glyphicon glypicon-list-alt"></span>Bed Id</th>
                    <th><span class="glyphicon glypicon-list-alt"></span>Action</th>
                </tr>
                <tr>
                    
                </tr>
            </table>
        </div>
    </div>
</div>