<div class="panel">
  <div class="row">
      <div class="col-sm-10"><h3><span class="glyphicon glyphicon-home"></span> Expenses </h3> </div>
      <div>
        <a routerLink="add"  class="btn btn-info " routerLinkActive="active"><span class="glyphicon glyphicon-plus"> </span> Add Expense</a>
      </div>
      <div class="search" style="width:200px">
        <input type="text" class="form-control"  placeholder="Search here" [(ngModel)]="searchTerm" >
      </div>
    </div>
  <br>
  <div class="panel-body">
    <table class="table table-striped">
     <thead>
        <tr>
          <th> S.No </th>
          <!--<th> Hostel </th>-->
           <th> Type of Expense</th>
          <th> Paid By</th>
          <th>Paid To</th>
          <th>Transaction</th>
          <th>Transaction Id</th>
          <th> Amount</th>
          <th>Comments</th>
          <!--<th> Actions</th>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let expense of expenses |expenseFilter:searchTerm">
            <td>{{ expense.id }}</td>
          <!--<td>{{ expense.hostelId }}</td>-->
          <td>{{ expense.expenseType }}</td>
          <td>{{ expense.paidBy }}</td>
          <td>{{ expense.paidTo }}</td>
          <td>{{ expense.modeOfPayment }}</td>
          <td>{{ expense.transactionId }}</td>
          <td>{{ expense.amount }}</td>
          <td>{{ expense.comments }}</td>
          <td>
             <div class="user-options">
            <!--<a (click)="deleteExpense(expense.id)" title="delete" ><span class="glyphicon glyphicon-trash"></span></a>-->
            <!--<a  (click)="updateExpense(expense.id)" title="update"><span class="glyphicon glyphicon-edit"></span></a>-->
            <!--<a (click)="expenseDetails(expense.id)" alt="view"><span class="glyphicon glyphicon-eye"></span></a>-->
                      <!--<a (click)="expenseDetails(expense.id)" title="view"><span class="glyphicon glyphicon-eye-open" style="margin-left: 10px"></span></a>-->

             </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
           <button type="button" (click)="printPage()">Print</button>

</div>



