<div class="panel panel-primary">
    <div class="row">
      <div class="col-sm-8"><h2>Invoice List</h2></div>
      <div>
        <a routerLink="add"  class="btn btn-info " routerLinkActive="active"><i class="fa fa-plus"></i>Add</a>
      </div>
          <div class="form-group pull-right">
                                  <input type="text" [(ngModel)]="searchText" placeholder="search">
        </div>
    </div>
    <br>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="hidden">Id</th>
            <th>name</th>
            <th>paymentType</th>
            <th>amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let invoice of invoices |  async">
            <td>{{ invoice.Id }}</td>
            <td>{{ invoice.name }}</td>
            <td>{{ invoice.paymentType }}</td>
            <td>{{ invoice.amount }}</td>
            <td>
              <button  (click)="deleteExpense(expense.id)" class="btn btn-danger"> Delete</button>
              <button  (click)="updateExpense(expense.id)" class="btn btn-primary" style="margin-left: 10px"> Update</button>
              <button (click)="expenseDetails(expense.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  