 <!-- Sidebar -->
 

 <ul class="sidebar navbar-nav">  

         
    


    <li class="nav-item">
        <a class="nav-link" routerLink="profile">
                <span class="glyphicon glyphicon-user"></span>
                <span class="nav-title"> Profile</span>
        </a>
    </li>
    

    <!-- <li class="nav-item">
        <a class="nav-link" routerLink="">
                <span class="glyphicon glyphicon-folder-close"></span>
                <span class="nav-title"> Payments</span>
        </a>
    </li>     -->

    <li class="nav-item">

        <a class="nav-link" routerLink="complaint">
                <span class="glyphicon glyphicon-flag"></span>
                <span class="nav-title"> Complaints</span>
        </a>
   </li>
   <li class="nav-item">

            <a class="nav-link" routerLink="paymentHistory">
                    <span class="glyphicon glyphicon-adjust"></span>
                    <span class="nav-title"> Payments</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="vacateMe">
                <span class="glyphicon  glyphicon-hand-right"></span>
                <span class="nav-title"> Vacate Me</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="contacts">
                <span class="glyphicon glyphicon-phone"></span>
                <span class="nav-title"> Contacts</span>
        </a>
     </li>
</ul>
