
div.cdk-overlay-pane{ 
    width: 50% !important; 
}
.navbar { 
    margin-bottom: -8px; 
}
.navbar-nav{
    float: left;
    margin: 0;
    margin-left: 0px; 
    margin-top: -21px;
    padding-left: 16px;
    padding-top: 17px;
}
.navbar-nav>li {
    float: left;
    top: 11px;
}  
.sidebar .nav-item .nav-link span{
    font-size: 13px;
    display: inline; 
}
.sidebar:hover{
    color: indigo;
}
.container {
    width: 100%;
}
.logo{
    display: inline-block;
}
.nav-title{
    padding-left: 4px;
    color: aliceblue;
}
.disable{
    color: gray;
    cursor: not-allowed;
}