 <!-- Sidebar -->
 
 <ul class="sidebar navbar-nav">
 

    <li class="nav-item">
        <a class="nav-link" routerLink="hostels">
                <span class="glyphicon glyphicon-user"></span>
                <span class="nav-title"> Our Hostels </span>
        </a>
   </li>  

    <li class="nav-item">
        <a class="nav-link" routerLink="profile">
                <span class="glyphicon glyphicon-envelope"></span>
                <span class="nav-title"> Profile</span></a>
    </li>


    <li class="nav-item">
            <a class="nav-link" routerLink="paymentHistory">
                    <span class="glyphicon glyphicon-folder-close"></span>
                    <span class="nav-title"> Payments </span></a>
    </li>

    <li class="nav-item">
                <a class="nav-link" routerLink="vacateMe">
                        <span class="glyphicon glyphicon-user"></span>
                        <span class="nav-title"> Vacate Me </span></a>
        </li>



    <li class="nav-item">
            <a class="nav-link" routerLink="complaint">
                    <span class="glyphicon glyphicon-envelope"></span>
                    <span class="nav-title"> Complaints</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="contacts">
                <span class="glyphicon glyphicon-phone"></span>
                <span class="nav-title"> Important Contacts </span>
        </a>
    </li>


</ul>
