.hostel-extended-view{
    width: 80%;
}
.hostel-init-img{
    width: 7rem;
    height: 7rem;
    border: 1px solid;
    border-radius: 7rem;
    float: left;
}
.vertical-align{
    display: flex;
    align-items: center;
}
.hex-view-title{
    /* padding-left: 10px;
    padding-bottom: 10px; */
}
.hex-view-heading{
    font-weight: bold; 
    font-size: 19px;
    color: black;
}
.hex-view-heading-sub{ 
    font-size: 8px;
}
.hex-view-basic-details{
    padding-left: 3rem;
    display: inline-block;
    /* border: 1px solid; */
    /* box-shadow: inset 0px 2px 1px 1px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025); */
    vertical-align: top;
    margin-left: 12px;
}
.row {
    /* margin: 5px; */
    /* display: inline-flex; */
    margin-bottom: 1rem;
}
 
*{margin: 0;padding:2px}

.showLeft{
    background-color: white !important;
    border:1px solid white !important;
    text-shadow: none !important;
    color:#fff !important;
    padding:10px;
    }
                    

.icons li {
    background: none repeat scroll 0 0 black;
    height: 4px;
    width: 4px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 15px;
    margin-top: 3px;
    vertical-align: top;
    border-radius:50%;
    pointer-events: none;
    }
    

.btn-left {
    left: 0.4em;
    } 
    

.btn-right {
    right: 0.4em;
}

.btn-left, .btn-right {
    position: absolute;
    top: 0.24em;
}

.dropbtn {
    /* background-color: #4CAF50; */
    position: absolute;
    color: white;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: white;
}

.dropdown {
    position: absolute;
    display: block;
    right: 0.4em;
}

.dropdown-content {
    display: none;
    position: relative;
    margin-top: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;                    
    }
    

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    
.dropdown a:hover {background-color: none}

.show {display:block;}
