<div class="container">
    <div class="hostel-extended-view">
        <div class="hex-view-title">
            <img src="{{receptionImage}}" alt="N" class="hostel-init-img" />
            <div class="hex-view-basic-details">
                <div class="hex-view-heading"><span class="glyphicon glyphicon-home"></span> {{hostel.hostelName}}</div>
                <div class="hex-view-heading-sub"> {{hostel.hostelType}}</div>
                <div class="hex-view-heading-sub"> {{hostel.hostelAddress}}</div>
                <div class="hex-view-heading-sub"> Floors : {{hostel.numOfFloors}}</div>
                <div class="hex-view-heading-sub"> Rooms: {{hostel.roomNumbers}}</div>
            </div>

        </div>
        <hr />


        <div class="row">
            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-6">
                        <app-doughnut-chart [sharingInfo]="donutInfo.single"> </app-doughnut-chart>
                    </div>

                    <div class="col-md-6">
                        <app-doughnut-chart [sharingInfo]="donutInfo.double"></app-doughnut-chart>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6">
                        <app-doughnut-chart [sharingInfo]="donutInfo.triple"></app-doughnut-chart>
                    </div>

                    <div class="col-md-6">
                        <app-doughnut-chart [sharingInfo]="donutInfo.misc"></app-doughnut-chart>
                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <app-bar-chart [barchartInfo]="barchartInfo"></app-bar-chart>
                    </div>

                </div>
            </div>


        </div>


        <div class="row">

            <div class="col-md-12">
                <floor-view></floor-view>
            </div>

        </div>

    </div>


    <hr>


    <button (click)="list()" class="btn btn-primary">Back to Hostel List</button><br>
</div>