<div class="container">
    <div class="row">
        <div class="col s8 offset-2">
            <div class="card-panel teal lighten-2">
                <h6 class="center white-text">Upload Image</h6>
            </div>
            <form #imageForm=ngForm (ngSubmit)="OnSubmit(Caption,Image)">
                <div class="row">
                    <div class="input-fiela col s12">
                        <!-- <input type="text" #Caption ngModel name="Caption" id="Caption" required>
                        <label for="Caption">Caption</label> -->
                    </div>
                </div>
                <img [src]="imageUrl" style="width:250px;Height:100px">

                <input type="file" #Image accept="image/*"(change)="handleFileInput($event.target.files)">
                <!-- <button type="submit" class="btn-large btn-submit" [disabled]="Image.value=='' || !imageForm.valid">Submit</button> -->
            </form>
        </div>
    </div>
</div>
