.date-picker{
    display: flex;
}


.search-buttons{
    display: inline-flex;
}
.search-button{
    margin-right: 10px;
    /* margin-left: -5px; */    
}
.s-b-height{
    height:35px;
}

.custom-select{
    height: calc(1.0em + 0.75rem + 12px);
    font-size: 18px;
    width: 180px;
}