<h3>Add Payment  </h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
     

      <div class="t-header"> Tenant Information</div>

      <div class="tenant-info" *ngIf="user.tenantBooking">
        
          <div class="t-label" > Tenant Name</div> <div class="t-value"> {{user.name}}</div>
        
          <div class="t-line"><div class="t-label" > Hostel : </div> <div class="t-value"> {{user.tenantBooking.hostelId}}</div></div> 
          <div class="t-line"><div class="t-label" > Floor :</div> <div class="t-value"> {{user.tenantBooking.floorId}}</div> </div> 
          <div class="t-line"> <div class="t-label" > Room :</div> <div class="t-value"> {{user.tenantBooking.name}}</div> </div> 
          <div class="t-line"><div class="t-label" > Bed :</div> <div class="t-value"> {{user.tenantBooking.roomBedId}}</div></div> 
          <div class="t-line"><div class="t-label" > Type :</div> <div class="t-value"> {{user.tenantBooking.roomType}}</div></div> 
          <div class="t-line"><div class="t-label" > Last Booked :</div> <div class="t-value"> {{user.tenantBooking.allotedFrom}}</div></div> 
          <div class="t-line"><div class="t-label" > Rent </div> <div class="t-value"> {{user.tenantBooking.roomRent}}</div></div> 

      </div> 

      <div class="t-header"> Payment Information</div>
      <label for="name">Date</label>      
      <span class="date-picker">
        <input type="text" required [matDatepicker]="picker" class="form-control" id="date" required [(ngModel)]="payment.date" name="date">
         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>      
         <mat-datepicker #picker></mat-datepicker> 
      </span>

      <label for="name">Payment Through</label>
      <select id="paymentThrough" class="browser-default custom-select" [(ngModel)]="payment.paymentThrough" name=" paymentThrough">
        <option value="CASH" selected="selected" >Cash</option>
        <option value="BT">Bank Transfer</option>
    </select>
    
    
    <span *ngIf="payment.paymentThrough === 'BT'">
      <label for="name">Transaction Id</label>
      <input type="text" class="form-control" id="transactionId" required [(ngModel)]="payment.transactionId" name="transactionId">
    
      <label for="name">Bank Name</label>
      <input type="text" class="form-control" id="bankName" required [(ngModel)]="payment.bankName" name="bankName">
      
    </span> 

    <label for="name">Amount </label>
    <input type="text" class="form-control" id="roomRent" required [(ngModel)]="payment.roomRent" name="roomRent" value="{{user.tenantBooking.roomRent}}">


    <label for="name">Discount</label>
    <input type="text" class="form-control"   id="discountAmount" required [(ngModel)]="payment.discountAmount" name="discountAmount">

    <label for="name"><span class="glyphicon glyphicon-credit-card"></span> Amount to be paid:</label>
    <input type="text" class="form-control"   readonly value="{{payment.roomRent - payment.discountAmount}}" >
 

    <label for="name">Comments</label>
    <textarea   class="form-control"  [(ngModel)]="payment.comments" ></textarea>

    </div> 

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<!-- <div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  
</div> -->

