<h3>Payment </h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Date</label>
      <input type="text" class="form-control" id="date" required [(ngModel)]="payment.date" name="date">

      <label for="name">Tenant Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="payment.name" name="name">

      <label for="name">Room Number</label>
      <input type="text" class="form-control" id="roomName" required [(ngModel)]="payment.roomName" name="roomName">

      <label for="name">Room Type</label>
      <select class="browser-default custom-select" id="roomType" required [(ngModel)]="payment.roomType" name="roomType">
        <option>--Select--</option>
        <option>Single</option>
        <option>Double</option>
        <option>Triple</option>
        <option>Four</option>
        <option>Five</option>
      </select>
    

      <label for="name">payment Through</label>
      <select id="paymentThrough" class="browser-default custom-select" [(ngModel)]="payment.paymentThrough" name=" paymentThrough">
        <option > </option>
        <option >Cash</option>
        <option >Bank Transfer</option>
    </select>
    
    <label for="hostelId">hostelId</label>
    <input type="text" class="form-control" id="hostelId" required [(ngModel)]="payment.hostelId" name="hostelId">


    <label for="floorId">floorId</label>
    <input type="text" class="form-control" id="floorId" required [(ngModel)]="payment.floorId" name="floorId">




    <label for="name">Transaction Id</label>
    <input type="text" class="form-control" id="transactionId" required [(ngModel)]="payment.transactionId" name="transactionId">

    <label for="name">bankName</label>
    <input type="text" class="form-control" id="bankName" required [(ngModel)]="payment.bankName" name="bankName">
    
      <label for="name">roomRent</label>
      <input type="text" class="form-control" id="roomRent" required [(ngModel)]="payment.roomRent" name="roomRent">
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<!-- <div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  
</div> -->

