<h3>Update User</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    

      <!-- <div class="form-group">
          <label for="name">User Pic</label>
          <input type="file" required [(ngModel)]="user.userpic" name="userpic" >
      </div> -->

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="user.name" name="name">
    </div>

    <div class="form-group">
        <label for="name">Contact Number</label>
        <!-- <input type="text" class="form-control" id="contactNumber" required [(ngModel)]="user.contactNumber" name="contactNumber"> -->
        <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
        class="form-control" id="contactNumber" required [(ngModel)]="user.contactNumber" name="contactNumber"/>
      </div>

    <div class="form-group">
        <label for="name">Father Name</label>
        <input type="text" class="form-control" id="fatherName" required [(ngModel)]="user.fatherName" name="fatherName">
      </div>  

    <div class="form-group">
        <label for="name">Father PhoneNumber</label>
        <!-- <input type="text" class="form-control" id="fatherphoneNumber" required [(ngModel)]="user.fatherphoneNumber" name="fatherphoneNumber"> -->
        <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
        class="form-control" id="fatherphoneNumber" required [(ngModel)]="user.fatherphoneNumber" name="fatherphoneNumber"/>
      </div>

    <div class="form-group">
        <label for="name">Mother Name</label>
        <input type="text" class="form-control" id="motherName" required [(ngModel)]="user.motherName" name="motherName">
      </div>

    <div class="form-group">
        <label for="name">Mother PhoneNumber</label>
        <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
        class="form-control"  id="motherphoneNumber" required [(ngModel)]="user.motherphoneNumber" name="motherphoneNumber"/>
      </div>

    <div class="form-group">
        <label for="name">Date of Birth</label>
        <span class="date-picker">
        <input type="text" required [matDatepicker]="picker" class="form-control" id="dob" required [(ngModel)]="user.dob" name="date" placeholder="MM/DD/YY">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>      
        <mat-datepicker #picker></mat-datepicker>
      </span>
      </div>

    <div class="form-group">
        <label for="name">Blood Group</label>
        <input type="text" class="form-control" id="bloodGroup" required [(ngModel)]="user.bloodGroup" name="bloodGroup">
      </div>

    <div class="form-group">
        <label for="name">Emergency ContactNumber</label>
        <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
        class="form-control" id="emergencyContactNumber" required [(ngModel)]="user.emergencyContactNumber" name="emergencyContactNumber"/>
      </div>

    <div class="form-group">
        <label for="name">Name Of The Employer</label>
        <input type="text" oninput="this.value = this.value.replace(/[^a-z.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" id="nameOfTheEmployer" required [(ngModel)]="user.nameOfTheEmployer" name="nameOfTheEmployer">
      </div>

    <div class="form-group">
      <label for="name">Office Address</label>
      <input type="text" class="form-control" id="officeAddress" required [(ngModel)]="user.officeAddress" name="officeAddress">
    </div>

    <div class="form-group">
        <label for="name">Email Id</label>
        <input type="text" class="form-control" id="emailId" required [(ngModel)]="user.emailId" name="emailId">
      </div>

     <div class="form-group">
      <label for="name">Permanent Address</label>
      <input type="text" class="form-control" id="permanentAddress" required [(ngModel)]="user.permanentAddress" name="permanentAddress">
    </div>

    <div class="form-group">
        <label for="name">Id Proof</label>
        <input type="text" class="form-control" id="idProof" required [(ngModel)]="user.idProof" name="idProof">
      </div>

    <div class="form-group">
      <label for="name">IdProof Number</label>
      <input type="text" class="form-control" id="idProofId" required [(ngModel)]="user.idProofId" name="idProofId">
      </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <a routerLink="/user" class="btn btn-seconday" style="margin-left:20px">Cancel</a>
  </form>
</div>

