.add-hostel{
    width: 100%;
}
.modal.show
{
    display: block;
}
.add-room{
    width: 10rem;
    height: 40px;
    /* border: 1px solid black; */
    text-align: right;
    position: fixed;
    right: 10%;
}

.add-room-button{
    position: absolute;
    right: 13px;
    margin-top: -26px;
}
.floor-select{
    padding-bottom: 11px; 
    padding-top: -1px;
    border: solid 1px #ddd;
    background: #fff; 
    margin-bottom: 10px;
}
.room-select{
    width: 103px;
    height: 58px;
    border: 1px solid;
    list-style: none;
}
.add-hostel-details{
    padding-left: 20px;
    padding-top: 10px;
}
label{
    padding: 0px;
    margin-bottom: 9px;
    margin-top: 13px;
}
.floor-header{
    width: 100%;
    background-color: #59B2E3;
    display: inline-block;
    color: white;
    padding: 6px 7px 7px 14px;
    /* border-radius: 5px; */
}
.floor-name{  
    margin-right: 20px; 
}
.room-box, .sub-room-box{
    padding: 6px;
}
.sub-room-box{
    display: inline-grid;
    margin-top: 5px;
    background-color: beige;
}
.sub-room-box-edit, .sub-room-box-delete{
    /*width: 33px; */
    /* height: 22px; */
    font-size: small;
    padding: 3px;
    margin: 2px;
   
}
.sub-room-box-edit{
    background-color: green;
}
.sub-room-box-delete{
    background-color: orangered;
    color: white;
}
.add-hostel-submit{
    margin: 10px;
}
.room-box-header:hover{
    color: black;
}
.btn-background
{
    background-color: white;
    width: 31px;
    height: 33px;
    padding: 5px;
    border-radius: 18px;
}
.btn-background:hover{
    background-color: green;
    color: white;
}
.add-hostel-button{
    cursor: pointer;
    background-color: #001f3f;
    color: white;
    padding: 15px;
    width: 100%;
}
.room-header{
    background-color: black;
    color: white;
    padding: 1px;
    font-size: 12px;
    text-align: center;
}
.bed-box{
   /* width: 20px; */
    /* height: 31px; */
    padding: 6px;
    /* width: 12px; */
    /* background-color: white; */
    /* top: 14px; */
    display: flow-root;
    color: black;
    cursor: pointer;
    background-color: lavenderblush;
}
.bed-box:focus, .bed-box:active {
    background-color: green;
}
.bed{
    color: black;
    background-color: white;
    padding: 4px;
    border-radius: 8px;
}
.bed-alloted-yes{
    background-color: orangered;
    color: white;
}
.bed-alloted-no{
    
}
.bed-alloted-yes:hover{
    cursor:default;
}
.bed-image{
    width: 16px;
    height: 16px;
}
.bed-alloted-now{
    background-color: green;
    color: whitesmoke;
}
.no-msg{
    padding-left: 5px;
    color: whitesmoke;
    background-color: #59B2E3;
}
