<div class="room-box">
    <div class="room-box-header"> <span class="glyphicon glyphicon-book"></span> {{room.roomType}} </div>
    <span *ngFor="let room of getRoomsWithType(floor,'Double')">
        <span class="sub-room-box">
            <span class="room-name"> Room-{{room.roomName}} </span>
            <button class="sub-room-box-edit" (click)="editRoom(room)"> Edit </button>
            <button class="sub-room-box-delete" (click)="deleteRoom(room)"> Remove </button>

        </span>
    </span>
</div>