<h4><span class="glyphicon glyphicon-credit-card"></span> Create Expense</h4>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" id="convertTo">

      <div class="form-group">
        <label><span class="glyphicon glyphicon-home"></span> Choose Hostel </label>
        <select class="browser-default custom-select" [(ngModel)]="expense.hostelId"
          name="sel2">
          <option value="">--select--</option>
          <option *ngFor="let hostel of hostels | async" [value]="hostel.id" name="id">
            {{hostel.hostelName}}
          </option>
        </select>
      </div>

     <div class="form-group">
      <label> <span class="glyphicon glyphicon-envelope"></span>Type of Expense</label>
       <select  class="browser-default custom-select" id="expenseType" [(ngModel)]="expense.expenseType" name="sel">
         <option *ngFor="let category of categories | async" [value]="category.expenseType" name="expenseType" >
          {{category.expenseType}}
        </option>
      </select>
           <a  class="btn btn-info " (click)="addCategory()"> <span class="glyphicon glyphicon-plus"></span>Add  </a>
    </div>

    <div class="form-group">
      <label ><span class="glyphicon glyphicon-credit-card"></span>Paid By</label>
      <input type="text" class="form-control" id="paidBy" required [(ngModel)]="expense.paidBy" name="paidBy">
    </div>
    <div class="form-group">
      <label ><span class="glyphicon glyphicon-credit-card"></span>Paid To</label>
      <input type="text" class="form-control" id="paidTo" required [(ngModel)]="expense.paidTo" name="paidTo">
    </div>

     <div class="form-group">
     <label>Payment Through</label>
      <select id="modeOfPayment" class="browser-default custom-select" [(ngModel)]="expense.modeOfPayment" name="modeOfPayment">
        <option value="CASH" selected="selected" >Cash</option>
        <option value="CARD">Card</option>
    </select>
     </div>

   <div class="form-group">
      <span *ngIf="expense.modeOfPayment === 'CARD'">
        <label>Transaction Id</label>
        <input type="text" class="form-control" id="transactionId" required [(ngModel)]="expense.transactionId" name="transactionId">
      </span>
   </div>
    <div class="form-group">
      <label ><span class="glyphicon glyphicon-credit-card"></span>Amount</label>
      <input type="text" class="form-control" id="amount" required [(ngModel)]="expense.amount" name="amount">
    </div>

    <div class="form-group">
      <label><span class="glyphicon glyphicon-file"></span> Description</label>
      <textarea class="form-control" [(ngModel)]="expense.comments" name="comments"></textarea>
    </div>


     <!--<div class="form-group">-->
            <!--<label for="name">-->
              <!--&lt;!&ndash; <div class="input-group-prepend"> &ndash;&gt;-->
              <!--<span class="glyphicon glyphicon-calendar"></span> Date:</label>-->
            <!--&lt;!&ndash; </div> &ndash;&gt;-->
            <!--<span class="date-picker">-->
            <!--<input type="text" required [matDatepicker]="picker" class="form-control"  name="date"  >-->
             <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
             <!--<mat-datepicker #picker></mat-datepicker>-->
            <!--</span>-->
        <!--</div>-->

    <button type="submit" class="btn btn-success">Submit</button><br>

    <!--<button mat-button  type="submit" class="btn btn-danger" (click)="onClose()">close</button>-->
  </form>
</div>
