<!-- <h3> <span class="glyphicon glyphicon-headphones"></span> Change Password </h3> -->
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
     <div class="form-group">
        <label> <span class="glyphicon glyphicon-money"></span>Old Password</label>
      <input type="text" class="form-control"   required [(ngModel)]="user.oldPassword" name="name">
     </div>

    <div class="form-group">
        <label> <span class="glyphicon glyphicon-money"></span>New Password</label>
      <input type="text" class="form-control"  required [(ngModel)]="user.newPassword" name="description">
     </div>

     <div class="form-group">
        <label> <span class="glyphicon glyphicon-money"></span>Confirm Password</label>
      <input type="text" class="form-control"  required [(ngModel)]="user.confirmPassword" name="description">
     </div>

    <button type="submit" class="btn btn-success"> Update My Password</button>
    <a routerLink="/profile" class="btn btn-link">Cancel</a>


  </form>
</div>