<h5>Create Expense</h5>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
     <div class="form-group">

    <div class="form-group">
      <label > <span class="glyphicon glyphicon-envelope"></span> Hostel Name</label>
      <!--<input type="text" class="form-control " id="hostelName" [(ngModel)]="hostel.hostelName"-->
          <!--name="hostelName">-->
      <select class="browser-default custom-select"  [(ngModel)]="hostels">
        <option value="">--select--</option>
        <option *ngFor="let hostel of hostels | async" [value]="hostel.id">
          {{hostel.hostelName}}
        </option>
      </select>
    </div>


      <input type="text" class="form-control" id="typeOfExpenses" required [(ngModel)]="category.typeOfExpenses" name="typeOfExpenses">


      <label> <span class="glyphicon glyphicon-envelope"></span>Type of Expense</label>
      <!--<input type="text" class="form-control" id="typeOfExpenses" required [(ngModel)]="expense.typeOfExpenses" name="typeOfExpenses">-->
       <select  class="browser-default custom-select" [(ngModel)]="categorys" name="typeOfExpenses">
         <option value="">----Select----</option>
         <option *ngFor="let category of categorys | async" [value]="category.id">
           {{category.typeOfExpenses}}
         </option>
          <!--<option >Staff Salary</option>-->
          <!--<option >vegetables</option>-->
         <!--<option >Furniture Bill</option>-->
          <!--<option >Internet Bill</option>-->
      </select>
           <!--<a routerLink="category/add"  class="btn btn-info " ><i class="fa fa-plus"></i></a>-->
                   <a href="categorys/add">Add </a>

    </div>

    <div class="form-group">
      <label for="name">Cost</label>
      <input type="text" class="form-control" id="cost" required [(ngModel)]="expense.cost" name="cost">
    </div>

    <div class="form-group">
      <label for="name">Date</label>
      <input type="text" class="form-control" id="date" required [(ngModel)]="expense.date" name="date">
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<!--<div [hidden]="!submitted">-->
  <!--<h4>You submitted successfully!</h4>-->
  <!--&lt;!&ndash; <button class="btn btn-success" (click)="newHostel()">Add</button> &ndash;&gt;-->
<!--</div>-->
