<div class="panel panel-primary">
    <div class="row">
      <div class="col-sm-8"><h2>Payment List</h2></div>
      <div>
        <a routerLink="add"  class="btn btn-info " routerLinkActive="active"><span class="glyphicon glyphicon-plus">Add payment</span></a>
      </div>
          <!-- <div class="form-group pull-right">
            <input type="text" [(ngModel)]="searchText" placeholder="search">
        </div> -->
    </div>
    <br>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Room Name</th>
            <th>Room Type</th>
            <th>Payment Through</th>
            <th>Transaction_Id</th>
            <th>Bank Name</th>
            <th>Room Rent</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of payments |  async">
            <td>{{ payment.id }}</td>
            <td>{{ payment.name }}</td>
            <td>{{ payment.roomName }}</td>
            <td>{{ payment.roomType }}</td>
            <td>{{ payment.paymentThrough }}</td>
            <td>{{ payment.transactionId }}</td>
            <td>{{ payment.bankName }}</td>
            <td>{{ payment.roomRent }}</td>
            <td>
              <!-- <button  (click)="deleteInvoice(invoice.id)" class="btn btn-danger"> Delete</button> -->
              <button  (click)="updateInvoice(invoice.id)" class="btn btn-primary" style="margin-left: 10px"> Update</button>
              <button (click)="invoiceDetails(invoice.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  