    
   


    <!-- three dot menu -->
    <div class="dropdown">
        <!-- three dots -->
        <ul class="dropbtn icons btn-right showLeft" (click)="showDropdown()">
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <!-- menu -->
        <div id="myDropdown" class="dropdown-content">          
            <a href="invoice">Invoice Generate</a>
            <a href="payment/add">Payment</a> 
        </div>
    </div>

        


<div>
    <div class="row">
      <h3><span class="fa fa-user"></span> Tenant List</h3> 
      <div style="text-align: right;" class="add-tenant-btn">
        <a routerLink="add"  class="btn btn-info " routerLinkActive="active"><i class="fa fa-plus">Add Tenant</i></a>
      </div>
      <!-- <div class="md-form mt-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </div> -->
	</div>
       
        <!-- <div class="dot"></div> -->
          
                  
          <div>
            <table class="table table-striped">
                
              <thead>
                <tr>
                  <th></th>
                  <th>UserId</th>
                  <th>TenantPic</th>                 
                  <th>Name</th>
                  <th>ContactNumber</th>
                  <!-- <th>FatherName</th>
                  <th>FatherphoneNumber</th> -->
                  <!-- <th>motherName</th> -->
                  <!-- <th>motherphoneNumber</th> -->
                  <th>DOB</th>
                  <!-- <th>bloodGroup</th>
                  <th>emergencyContactNumber</th>
                  <th>nameOfTheEmployer</th>
                  <th>officeAddress</th>
                  <th>telephoneNumber</th> -->
                  <th>EmailId</th>
                  <!-- <th>PermanentAddress</th> -->
                  <!-- <th>idProof</th> -->
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                  
                    
                <tr *ngFor="let user of users |  async">              
                   <td> <mat-checkbox ></mat-checkbox></td>
                  <td>{{ user.userId }}</td>                  
                  <td>
                      <img class="user-init-img" src="{{ bringMyImage(user.userId)}}"  alt="NA"/>
                  </td>                         
                  <td>{{ user.name }}</td>
                  <td>{{ user.contactNumber }}</td>
                 <!-- <td>{{ user.fatherName }}</td>
                  <td>{{ user.fatherphoneNumber }}</td> -->
                  <!-- <td>{{ user.motherName }}</td> -->
                  <!-- <td>{{ user.motherphoneNumber }}</td> -->
                  <td>{{ user.dob }}</td>
                  <!-- <td>{{ user.bloodGroup }}</td>
                  <td>{{ user.emergencyContactNumber }}</td>
                  <td>{{ user.nameOfTheEmployer }}</td>
                  <td>{{ user.officeAddress }}</td>
                  <td>{{ user.telephoneNumber }}</td>       -->
                  <td>{{ user.emailId }}</td>
                  <!-- <td>{{ user.permanentAddress }}</td> -->
                  <!-- <td>{{user.idProof}}</td> -->
                  <td> 
                    
                    <!-- <div class="dropdown">
                      <ul class="dropbtn icons btn-right showLeft" (click)="showDropdown()">
                          <li></li>
                          <li></li>
                          <li></li>
                      </ul>
                      <div id="myDropdown" class="dropdown-content">
                           <a (click)="deleteUser(user.userId)" title="delete" href><i class="fa fa-trash"></i> Delete</a>
                           <a (click)="updateUser(user.userId)" title="update" href><i class="fa fa-pencil"></i> Edit</a>
                           <a (click)="userDetails(user.userId)" title="view" href><i class="fa fa-eye-open"></i> Details</a>
                          <a href="payment">payment</a>
                      </div>
                  </div> -->
                      <a (click)="deleteUser(user.userId)" title="delete"><span class="fa fa-trash"  style="margin-left: 10px"></span></a>
                      <a  (click)="updateUser(user.userId)" title="update"><span class="fa fa-edit" style="margin-left: 10px"></span></a>
                      <a (click)="userDetails(user.userId)" title="view"><span class="fa fa-eye" style="margin-left: 10px"></span></a>
                    
                  </td>
                  
                <!-- </div> -->
                </tr>
              </tbody>
            </table>
          
          </div>
        
    <br>
</div>
  
  
