 <!-- Sidebar -->

        <ul class="sidebar navbar-nav">

                <li class="nav-item">
                        <a class="nav-link" routerLink="profile">
                                <span class="glyphicon glyphicon-envelope"></span>
                                <span class="nav-title"> Profile</span></a>
                </li>
                <li class="nav-item ">
                        <a class="nav-link" routerLink="hostels">
                                <span class="glyphicon glyphicon-home"></span>
                                <span class="nav-title"> Hostels</span>
                        </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link link-pointer"  routerLink="user">
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="nav-title"> Tenants </span></a>
                </li>

                <li class="nav-item">
                                <!-- (click)="displayGuests()" -->
                                <a class="nav-link link-pointer"  routerLink="guest">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <span class="nav-title"> Guests </span></a>
               </li>
        

                <li class="nav-item">
                        <a class="nav-link" routerLink="payment">
                                <span class="glyphicon glyphicon-folder-close"></span>
                                <span class="nav-title"> Payments</span></a>
                </li>

                <li class="nav-item">
                        <a class="nav-link" routerLink="expenses">
                                <span class="glyphicon glyphicon-plane"></span>
                                <span class="nav-title"> Expenses</span></a>
                </li>



                <li class="nav-item">
                        <a class="nav-link" routerLink="complaint">
                                <span class="glyphicon glyphicon-envelope"></span>
                                <span class="nav-title"> Complaints</span></a>
                </li>

                <li class="nav-item">
                        <a class="nav-link" routerLink="reservation">
                                <span class="glyphicon glyphicon-envelope"></span>
                                <span class="nav-title"> Guest Reservation</span></a>
                </li>

                <li class="nav-item">
                        <a class="nav-link" routerLink="vacateRequest">
                                <span class="glyphicon glyphicon-user"></span>
                                <span class="nav-title"> Vacate Requests</span></a>
                </li>

                <!-- <li class="nav-item">
                        <a class="nav-link" href="#">
                                <span class="glyphicon glyphicon-picture"></span>
                                <span class="nav-title"> Rents</span></a>
                </li>

                <li class="nav-item">
                        <a class="nav-link" href="#">
                                <span class="glyphicon glyphicon-lock"></span>
                                <span class="nav-title"> Accounts</span></a>
                </li>

                <li class="nav-item">
                        <a class="nav-link" href="#">
                                <span class="glyphicon glyphicon-cog"></span>
                                <span class="nav-title"> Settings</span></a>
                </li> -->
        </ul>
