<div class="panel panel-primary">
  <div class="row">
    <div class="col-sm-8"><h2>Role List</h2></div>
    <div>
      <a routerLink="add"  class="btn btn-info " routerLinkActive="active"><i class="fa fa-plus"></i>Add</a>
    </div>
    	<div class="form-group pull-right">
								<input type="text" [(ngModel)]="searchText" placeholder="search">
      </div>
  </div>
  <br>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Role Name</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles |filter:searchText|  async">
          <td class="hidden"></td>
          <td>{{ role.roleName }}</td>
          <td>{{ role.name }}</td>
          <td>{{ role.emailId }}</td>
          <td>
            <button  (click)="deleteRole(role.id)" class="btn btn-danger"> Delete</button>
            <button  (click)="updateRole(role.id)" class="btn btn-primary" style="margin-left: 10px"> Update</button>
            <button (click)="roleDetails(role.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


