<div>
    <h3>Hostels Subscripbed: 05 </h3>
</div>
<div class="tenants-display  table-responsive-sm">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th> Hostel Name </th>
                <th> Hostel Address </th>
                <th> Owner </th>
                <th> Strength </th>
                <th> Filled Status </th>
                <th> Facilities </th>
                <th> Rating </th>
                <th> Subscription Amount </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Nidos Hostel</td>
                <td>  Hyderabad </td>
                <td> Sandeep </td>
                <td> 300 Beds</td>
                <td> 
                    <progress value="150" max="300"></progress>
                </td>
                <td>
                    <ul>
                        <li>TV</li>
                        <li>Fridge</li>
                        <li>GYM</li>
                    </ul>
                </td>
                <td>4.5</td>
                <td> Rs.1,20,000/- </td>
            </tr>
            <tr>
                <td> Nest Hostel</td>
                <td>  Madhapur </td>
                <td> Sugunakar </td>
                <td> 500 Beds</td>
                <td> 
                    <progress value="200" max="500"></progress>
                </td>
                <td>
                    <ul>
                        <li>TV</li>
                        <li>Fridge</li>
                        <li>GYM</li>
                        <li>AC</li>
                        <li>Parking</li>
                    </ul>
                </td>
                <td>4.6</td>
                <td> Rs.1,00,000/- </td>                
            </tr>
            <tr>
                <td> Bhargav</td>
                <td>  Hitech-City </td>
                <td> Jaya </td>
                <td> 100 Beds</td>
                <td> 
                    <progress value="80" max="100"></progress>
                </td>
                <td>
                    <ul>
                        <li>Wi-Fi</li>
                        <li>GYM</li>
                        <li>AC</li>
                        <li>Parking</li>
                    </ul>
                </td>
                <td>4.7</td>
                <td> Rs.95,000/- </td>                
            </tr>
        </tbody>
    </table>
</div>          