<h2>User Details</h2>

<hr/>
<div *ngIf="user">
  <div>
    <label><b>userpic: </b></label> {{user.userpic}}
    <img class="imgClass" [src]="user.userphoto">
  </div>
  <div>
    <label><b>name: </b></label> {{user.name}}
  </div>
  <div>
    <label><b>contactNumber : </b></label> {{user.contactNumber}}
  </div>
  <div>
    <label><b>fatherName : </b></label> {{user.fatherName}}
  </div>
  <div>
    <label><b>fatherphoneNumber : </b></label> {{user.fatherphoneNumber}}
  </div>
  <div>
    <label><b>motherName : </b></label> {{user.motherName}}
  </div>
  <div>
    <label><b>motherphoneNumber : </b></label> {{user.motherphoneNumber}}
  </div>
  <div>
    <label><b>dob : </b></label> {{user.dob}}
  </div>
  <div>
    <label><b>bloodGroup : </b></label> {{user.bloodGroup}}
  </div>
  <div>
    <label><b>emergencyContactNumber : </b></label> {{user.emergencyContactNumber}}
  </div>
  <div>
    <label><b>nameOfTheEmployer : </b></label> {{user.nameOfTheEmployer}}
  </div>   
  <div>
    <label><b>officeAddress : </b></label> {{user.officeAddress}}
  </div>
  <div>
    <label><b>telephoneNumber : </b></label> {{user.telephoneNumber}}
  </div>
  <div>
    <label><b>emailId : </b></label> {{user.emailId}}
  </div>
  <div>
    <label><b>permanentAddress : </b></label> {{user.permanentAddress}}
  </div>
  <div>
    <label><b>idProofpic : </b></label> {{user.idProofpic}}
    <img class="imgClass" [src]="user.idProofpic">
  </div>
  <div>
      <label><b>hostelName : </b></label> {{hostel.hostelName}}
    </div>
  <div>
      <label><b>floor : </b></label> {{floor.floorName}}
  </div>
  <div>
      <label><b>RoomName : </b></label> {{room.roomName}}
  </div>
  <div>
      <label><b>Sharing : </b></label> {{room.roomType}}
  </div>
  <div>
      <label><b>Date : </b></label> {{invoice.date}}
  </div>
  <!-- <div>
      <label><b>Name : </b></label> {{invoice.name}}
  </div> -->
  <div>
      <label><b>Deposit Amount : </b></label> {{invoice.depositAmount}}
  </div>
  <div>
      <label><b>Amount : </b></label> {{invoice.amount}}
  </div>
  <div>
      <label><b>Payment Type : </b></label> {{invoice.paymentType}}
  </div>
  

</div>

<br>
<button (click)="list()" class="btn btn-primary">Back to User List</button><br>
