<h2>User Details</h2>


<hr/>
<div *ngIf="user">
  <div class="row">
    <div class="col-md-4">
      <label><b>Tenant Pic:</b></label>
      <img src="{{userpicImage}}" [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" height="200" alt=" "  class="user-init-img"/>
  <div>
      <label><b>Name : </b></label> {{user.name}}
  </div>
  <div>
      <label><b>ContactNumber : </b></label> {{user.contactNumber}}
</div>
  <div>
    <label><b>FatherName : </b></label> {{user.fatherName}}
  </div>
  <div>
    <label><b>FatherphoneNumber : </b></label> {{user.fatherphoneNumber}}
  </div>
  <div>
    <label><b>MotherName : </b></label> {{user.motherName}}
  </div>
  <div>
    <label><b>MotherphoneNumber : </b></label> {{user.motherphoneNumber}}
  </div>
  <div>
    <label><b>Date of Birth : </b></label> {{user.dob}}
  </div>
  <div>
    <label><b>Blood Group : </b></label> {{user.bloodGroup}}
  </div>
  <div>
    <label><b>EmergencyContactNumber : </b></label> {{user.emergencyContactNumber}}
  </div>
  <div>
    <label><b>NameOfTheEmployer : </b></label> {{user.nameOfTheEmployer}}
  </div>   
  <div>
    <label><b>OfficeAddress : </b></label> {{user.officeAddress}}
  </div>
  <div>
    <label><b>EmailId : </b></label> {{user.emailId}}
  </div>
  <div>
    <label><b>PermanentAddress : </b></label> {{user.permanentAddress}}
  </div>
  <div>
    <label><b>IdProof : </b></label> {{user.idProof}}
  </div>
  <div>
    <label><b>IdProof Id : </b></label> {{user.idProofId}}
  </div>
</div>
<div class="col-md-4">

  <!-- <label><b>Idproof Pic:</b></label>
  <img src="{{idProofpicImage}}" [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'" height="200" alt=""  class="user-init-img"/> -->




  <div>
      <label><b>Hostel Id : </b></label> {{user.tenantBooking.hostelId}}
    </div>
  <div>
      <label><b>Floor : </b></label> {{user.tenantBooking.floorId}}
  </div>
  <div>
      <label><b>Room : </b></label> {{user.tenantBooking.roomId}}
  </div>
  <div>
    <label><b>Bed : </b></label>{{user.tenantBooking.roomBedId}}
  </div>
  <div>
      <label><b>Sharing : </b></label>{{user.tenantBooking.roomType}}
  </div>
  <div>
    <label><b>Room Rent : </b></label>{{user.tenantBooking.roomRent}}
  </div>
  <div>

      <label><b>Date : </b></label>{{payment.createdAt}}
  </div>
  <div>
      <label><b>Deposit Amount : </b></label>{{user.payment.roomRent}}
  </div>
  <div>
    <label><b>Discount Amount : </b></label>{{ user.payment.discountAmount }}
  </div>
  <div>
      <label><b>Amount to be Paid : </b></label> {{ user.payment.roomRent - payment.discountAmount}}
  </div>
  <div>
      <label><b>Payment Type : </b></label> {{ payment.paymentThrough }}
  </div>
</div>  
</div>
<br>
<button (click)="list()" class="btn btn-primary">Back to User List</button><br>
