<div class="page">
        <div class="leftmenu" *ngIf="userInfo">
                <app-dashboard-superadmin *ngIf="isSuperAdmin"> </app-dashboard-superadmin>
                <app-dashboard-admin *ngIf="isAdmin"></app-dashboard-admin>
                <app-dashboard-user *ngIf="isTenant"></app-dashboard-user>
                <app-dashboard-guest *ngIf="isGuest"></app-dashboard-guest>

        </div>
        <div class="right_section">
                <div class="header_part">
                        <div *ngIf="userInfo" class="top_nav" > 
                                <span class="user-info"> Welcome {{userInfo.name}} <span
                                                class="role-info">({{userInfo.role}})</span></span> 

                                <div title="Notifications"
                                        class="icon_box align-items-center justify-content-center d-flex"
                                        (click)="showNotifications()">
                                        <div class="icon_box align-items-center justify-content-center d-flex">
                                                <div class="notify_number">
                                                        <p class="mt-0-mb-0 f12 font-weight-bold"
                                                                style="color: #ffffff;">{{notifications.length}}</p>
                                                </div>
                                                <span class="glyphicon glyphicon-bell"></span>
                                                <!-- <img src="assets/imges/notification.svg" width="20px" /> -->
                                        </div>
                                </div>
                                <div title="profile" class="icon_box align-items-center justify-content-center d-flex"
                                        (click)="profile()">
                                        
                                        <span class="glyphicon glyphicon-user"></span>
                                        <!-- <img width="20px" src="assets/imges/comments.svg " /> -->
                                </div>
                                <div title="logout" class="icon_box align-items-center justify-content-center d-flex"
                                        (click)="logout()">
                                        <span class="glyphicon glyphicon-off"></span>
                                        <!-- <img src="assets/imges/settings1.svg" width="20px" /> -->
                                </div> 
                        </div>

                </div>

                <router-outlet></router-outlet>
        </div>
</div>