.app-body{ 
     margin-left: 30px;  
      margin-right: 30px;  
} 
.header-card{
    border: 1px solid;
    width: 3rem;
    height: 3rem;
    color: black;
    background-color: white;
    border-radius: 3rem;
    cursor: pointer;
    padding: 7px;
    margin-right: 8px;
}
.header-card:hover{
    color:green;
    background-color: greenyellow;
}
.align-right{
   position: absolute;
   right: 10px; 
   display: inline-flex;
}
.navbar{
    border-radius: 0px !important;
}
 