<div class="panel panel-primary">
  <div class="row">
    <div class="col-sm-10"><h2>Role List</h2></div>
    <div>
      <a routerLink="add"  class="btn btn-info " routerLinkActive="active"><i class="fa fa-plus">Add Role</i></a>
    </div>
  </div>
  <br>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Role Name</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let role of roles |  async">
          <!--<td class="hidden"></td>-->
          <td>{{ role.id }}</td>
          <td>{{ role.roleName }}</td>
          <td>{{ role.name }}</td>
          <td>{{ role.emailId }}</td>
          <td>
            <button (click)="deleteRole(role.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            <button  (click)="updateRole(role.id)" class="btn btn-primary"><i class="fa fa-edit"></i></button>
            <button (click)="roleDetails(role.id)" class="btn btn-info"><i class="fa fa-eye"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


