<div class="menu_part"> 

<div class="toplogo">
        <img src="assets/imges/logo.svg" class="logo_img" />
</div>
<div class="main_menu" (click)='selectMe($event)' >

<div  class="menu_item f14 p-0 m-0 " routerLink="hostels" [ngClass]="{'active': selectedItemId === 'HS'}" id="HS"  >  Our Hostels </div>
<div  class="menu_item f14 p-0 m-0 " routerLink="profile" [ngClass]="{'active': selectedItemId === 'PR'}" id="PR"  > Profile </div> 
<div  class="menu_item f14 p-0 m-0 " routerLink="reservation" [ngClass]="{'active': selectedItemId === 'RN'}" id="RN" >  Reservation </div>
<div  class="menu_item f14 p-0 m-0 " routerLink="contacts" [ngClass]="{'active': selectedItemId === 'IC'}" id="IC" >  Important Contacts  </div>
        
</div>
</div>

 