
 <ul class="sidebar navbar-nav">   
 
        <li class="nav-item">
            <a class="nav-link" routerLink="profile">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="nav-title"> Profile </span>
            </a>
        </li>
         
        <li class="nav-item">
            <a class="nav-link" routerLink="reservation">
                    <span class="glyphicon glyphicon-inbox"></span>
                    <span class="nav-title" > Reservation </span>
            </a>
       </li>
    
        <li class="nav-item">
            <a class="nav-link" routerLink="contacts">
                    <span class="glyphicon glyphicon-phone"></span>
                    <span class="nav-title"> Contacts </span>
            </a>
         </li>
    </ul>
    