<div class="panel panel-primary">
  <div class="row">
    <div class="col-sm-8"><h2>Category List</h2></div>
    <div>
      <a routerLink="add"  class="btn btn-info " routerLinkActive="active"><i class="fa fa-plus"></i></a>
    </div>
    	<!--<div class="form-group pull-right">-->
								<!--<input type="text" [(ngModel)]="searchText" placeholder="search">-->
      <!--</div>-->
  </div>
  <br>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Category</th>
          <!--<th>Description</th>-->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categorys |  async">
          <!--<td class="hidden"></td>-->
          <td>{{ category.expenseType }}</td>

          <td>
            <button (click)="deleteRole(category.id)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
            <button  (click)="updateRole(category.id)" class="btn btn-primary"><i class="fa fa-edit"></i></button>
            <button (click)="roleDetails(category.id)" class="btn btn-info"><i class="fa fa-eye"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


