<div class="panel ">
  <div class="row">
      <div class="col-sm-10"><h2>Complaint List</h2></div>
      <div>
        <a routerLink="add"  class="btn btn-info " routerLinkActive="active"><span class="glyphicon glyphicon-plus"></span>Add Complaint</a>
      </div>
    </div>
    <br>
  <div class="panel-body">
       <div *ngFor="let complaintWrapper of complaintWrappers | async">

      <div class="c-wrapper">

        <div class="c-header">
          <div class="u-pic"> {{ complaintWrapper.complaint.userId }} </div>
          <div class="c-subj"> {{ complaintWrapper.complaint.subject }} </div>
          <div class="c-type"> {{ complaintWrapper.complaint.type }} </div>
          <div class="c-date"> {{ complaintWrapper.complaint.date }} </div>
          <div class="c-status"> {{ complaintWrapper.complaint.status }} </div>
        </div>
        <div class="c-body">
          <div class="c-body-desc">
            {{ complaintWrapper.complaint.description }}
          </div>
          <div class="c-body-comments">
           <div *ngFor="let comment of complaintWrapper.complaintComments ">
             <div class="c-comment">
              <div class="c-comment-u-pic">{{ comment.updatedByUserId }}</div>
                <div class="c-comment-u-pic">{{ comment.comments }}</div>
                <div class="c-comment-u-pic">{{ comment.resolutionDate }}</div>
                <div class="c-comment-u-pic">{{ comment.resolutionStatus }}</div>


             </div>
           </div>
          </div>

        </div>
        <div class="c-reply">
          <a (click)="comment()"> reply</a>
        </div>


      </div>

    </div>





     <div class="navbar navbar-light bg-light">
    <div class="navbar-brand">
      <a class="navbar-item">
        <tr *ngFor="let complaintWrapper of complaintWrappers | async">
            <td>{{ complaintWrapper.subject }}</td>
            <td>{{ complaintWrapper.type }}</td>
            <td>{{ complaintWrapper.status }}</td>
        </tr>
      </a>
    </div>
  </div>

  <footer class="footer">
    <div class="container content has-text-centered">
      <p>
        <tr *ngFor="let complaint of complaints |  async">
            <td>{{ complaintWrapper.description }}</td>
        </tr>
      </p>
    </div>
  </footer>
  </div>
</div>


