<div class="container">
    <div class="row">
      <h3><span class="glyphicon glyphicon-envelope"></span> View All My Complaints</h3>
      <div>
        <a routerLink="add"  class="btn btn-info pull-right" routerLinkActive="active"><span class="glyphicon glyphicon-plus">AddComplaint</span></a>
        <h4></h4>
      </div>
          <!--<div class="form-group pull-right">-->
                                  <!--<input type="text" [(ngModel)]="searchText" placeholder="search">-->
        <!--</div>-->
    </div>
    <br>
    <div class="panel-body">
          <div class="row">
            <legend>
            <div class="col col-md-6">
              <h6> {{ complaintType }} </h6>            
              <progress value="150" max="300" class="pull-right"></progress>
              
            </div>
          </legend>
          </div>
          <div class="row">
            <textarea rows="4" cols="50">{{ description }}</textarea>            
          </div>
          <button class="btn btn-primary pull-right">Reply</button><hr/>
          <div class="row">
            <div class="col col-md-2">
              <img src="" alt="NA" />
            </div>
            <div class="col col-md-6">
              <input type="text" class="form-control" [(ngModel)]="reply">
            </div>
          </div><br/>
          <div class="row">
            <div class="col col-md-2">
              <img src="" alt="NA" />
            </div>
            <div class="col col-md-6">
              <input type="text" class="form-control" [(ngModel)]="response">
            </div>
          </div>
    </div>
  </div>
