<h4>Add Hostel</h4><hr><br/>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <label for="name">Hostel Name</label>
        <input type="text" class="form-control col col-sm-6" id="hostel_name" (ngModel)="hostel.hostel_name" required name="hostel_name"><br/>

        <label for="name">Hostel Address</label>
        <input type="text" class="form-control col col-sm-6" id="hostel_address" (ngModel)="hostel.hostel_address" required name="hostel_address"><br/>
        
        <label for="name">Hostel Type</label>
        <input type="text" class="form-control col col-sm-6" id="hostel_type" (ngModel)="hostel.hostel_type" required name="hostel_type"><br/>                
        
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>