<div class="col col-md-6">
    <h2>Room Details</h2><br/>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Room Number</th>
        <th>Share Type</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let room of rooms">
        <td class="hidden"></td>
        <td>{{room.room_number}}</td>
        <td>{{room.room_share_type}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteRoom(room.id)">Delete</button>
          <button class="btn btn-success" (click)="updateRoom(room.id)" style="margin-left: 20px;">Edit</button>
        </td>
      </tr>
      </tbody>
    </table>
</div>

