<div class="panel">
    <div class="row">
      <div class="col-sm-10"><h2>Payment History</h2></div>
    </div>
    <br>
    <div class="panel-body">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <!-- <th>Id</th> -->
            <!-- <th>Name</th> -->
            <!-- <th>Payment Through</th>  -->
            <th>Amount</th>
            <th>Payment Through</th>
            <!-- <th>Bank Name</th> -->
            <th>Paid Date</th>
            <!-- <th>Raise a complaint</th> -->
          </tr>
        </thead>
        <tbody> 
  
          <tr *ngFor="let payment of payments |  async">
            <!-- <td>{{ payment.id }}</td> -->
            <!-- <td>{{ payment.name }}</td> -->
            <!-- <td>{{ payment.paymentThrough }}</td> -->
            <td>{{ payment.roomRent }}</td>
            <td>{{ payment.paymentThrough }}</td>
            <!-- <td>{{ payment.bankName }}</td> -->
            <td>{{payment.paidDate}}</td>
            <!-- <td><a href="complaint/add">raise here </a></td> -->

            <!-- <a (click)="addcomplaintToComplaint(user)">raise here</a> -->
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>



