<div class="container-fluid vw-100 vh-100" style="overflow: hidden;" class="login-page"> 
   

    <div class="row vw-100 vh-100">
        
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 p-l-0 p-r-0">
            <div class="bg_div form_div">
                
<h2>Guest Enquiry</h2>
<form (ngSubmit)="onSubmit(registrationForm)" name="registration-form" #registrationForm = "ngForm" >
<div class="form-group" style="width:300px"> 
    <!-- <label for="username">Name</label>
    <input type="text" formControlName="username" [(ngModel)]="registration.name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Name is required</div>
    </div> -->
    <label><span class="glyphicon glyphicon-user" ></span> Name:</label>
    <input type="text" class="form-control" id="name" required [(ngModel)]="registration.name" name="name" 
     required minlength="4" maxlength="20" #name="ngModel"><br/>
    <div *ngIf="name.invalid && (name.dirty || name.touched)"
              class="alert alert-danger">
          
            <div *ngIf="name.errors.required">
               Name is required.
            </div>
            <div *ngIf="name.errors.minlength">
               Name must be at least 4 characters long.
            </div>
            <div *ngIf="name.errors.maxlength">
               Name must 20 characters long.
            </div>
          
          </div>
    <!-- <label for="emailId">Email Id</label>
    <input type="text" formControlName="emailId" [(ngModel)]="registration.emailId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailId.errors }" />
    <div *ngIf="submitted && f.emailId.errors" class="invalid-feedback">
        <div *ngIf="f.emailId.errors.required" >emailId is required</div>
    </div> -->
    <label for="emailId"><span class="glyphicon glyphicon-envelope"></span> Email Id:</label>
          <input type="email" class="form-control" id="emailId" required [(ngModel)]="registration.emailId" name="emailId"
            #emailId="ngModel" pattern="^[^\s@]+@[^\s@]+\.[^\s@]{2,}$"><br/>         
          <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)"
                    class="alert alert-danger">
                  <div *ngIf="emailId.errors.required">
                     Valid Email is required.
                  </div>                                                 
                </div>
    <!-- <label for="contactNumber">Phone Number</label>
    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
    formControlName="contactNumber"  [(ngModel)]="registration.contactNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contactNumber.errors }"/>
    <div *ngIf="submitted && f.contactNumber.errors" class="invalid-feedback">
        <div *ngIf="f.contactNumber.errors.required">contactNumber is required</div>
    </div>  -->
    <label for="contactNumber"><span class="glyphicon glyphicon-earphone"></span> Contact Number:</label>
          <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
          class="form-control" id="contactNumber" required [(ngModel)]="registration.contactNumber" name="contactNumber" 
          required minlength="10" maxlength="10" #contactNumber="ngModel" width="10" pattern="[0-9]+"/><br/>
          <div *ngIf="contactNumber.invalid && (contactNumber.dirty || contactNumber.touched)"
                    class="alert alert-danger">
                
                  <div *ngIf="contactNumber.errors.required">
                    contactNumber is required.
                  </div>
                  <div *ngIf="contactNumber.errors.minlength">
                    contactNumber must be  10 Digits.
                  </div>
                  <div *ngIf="contactNumber.errors.maxlength">
                    contactNumber must 10 Digits.
                 </div>
                </div>
   
<div >
    <br/>
    <button type="submit" [disabled]="!registrationForm.form.valid"  class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>  
        Submit
    </button >
    <a routerLink="/guest" class="btn btn-secondary" style="margin-left:20px">Cancel</a>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
