<h3>Update Role</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Role Name</label>
      <input type="text" class="form-control" id="roleName" required [(ngModel)]="role.roleName" name="roleName">
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="role.name" name="name">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

