
<div class="container emp-profile">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/> -->
                            <!-- <img class="user-init-img" src="{{ userpic }}"  alt="NA"/> -->
                            <!-- <div class="file btn btn-lg btn-primary">
                                
                                <input type="file" name="file"/>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-2">
                        <!-- <input type="submit" class="profile-changepassword-btn" name="btnchangepassword" value="Change Password"/> -->
                    </div>
                    <div class="col-md-2">
                        <!-- <input type="submit" (click)="updateUser(user.userId)" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>                     -->
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <div>
                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><b>Name </b></label> {{currentUser.name}}
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <p>Sai Krishna</p>
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><b>Email </b></label> {{currentUser.emailId}}
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <p>mskrishna@srans.in</p>
                                    </div> -->
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><b>Phone Number </b></label> {{currentUser.contactNumber}}
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <p>7095967022</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>