<h3>Update Profile</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">

      <div class="form-group"  >
          <label for="name">Email</label>
          <input type="text" class="form-control" id="emailId" required [(ngModel)]="currentUser.emailId" name="emailId" readonly>
        </div>

  <div class="form-group"   >
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" required [(ngModel)]="currentUser.name" name="name" readonly>
  </div>

  <div class="form-group"   >
      <label for="name">Phone Number</label>
      <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
      class="form-control" id="contactNumber" required [(ngModel)]="currentUser.contactNumber" name="contactNumber"/>
    </div>

  <div class="form-group"  >
      <label for="name">Father Name</label>
      <input type="text" class="form-control" id="fatherName" required [(ngModel)]="currentUser.fatherName" name="fatherName">
    </div>  

  <div class="form-group"  >
      <label for="name">Father phoneNumber</label>
      <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
      class="form-control" id="fatherphoneNumber" required [(ngModel)]="currentUser.fatherphoneNumber" name="fatherphoneNumber"/>
    </div>

  <div class="form-group"  >
      <label for="name">Mother Name</label>
      <input type="text" class="form-control" id="motherName" required [(ngModel)]="currentUser.motherName" name="motherName">
    </div>

  <div class="form-group" >
      <label for="name">Mother phoneNumber</label>      
      <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
      class="form-control" id="motherphoneNumber" required [(ngModel)]="currentUser.motherphoneNumber" name="motherphoneNumber"/>
    </div>

  <div class="form-group" >
      <label for="name">Date of Birth</label>
      <span class="date-picker">
      <input type="text" required [matDatepicker]="picker" class="form-control" id="dob" required [(ngModel)]="currentUser.dob" name="dob" placeholder="MM/DD/YY">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>      
             <mat-datepicker #picker></mat-datepicker> 
            </span>
    </div>

    

  <div class="form-group"  >
      <label for="name"><span class="glyphicon glyphicon-tint"></span> Blood Group:</label>
          <select  class="browser-default custom-select" id="bloodGroup" required [(ngModel)]="currentUser.bloodGroup" name="bloodGroup" >
          <option>A+</option>
          <option>A-</option>
          <option>B+</option>
          <option>B-</option>
          <option>AB+</option>
          <option>AB-</option>
          <option>O+</option>
          <option>O-</option>
          </select>
    </div>

  <div class="form-group"  >
      <label for="name">Emergency ContactNumber</label>
      <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" 
      class="form-control" id="emergencyContactNumber" required [(ngModel)]="currentUser.emergencyContactNumber" name="emergencyContactNumber"/>
    </div>

  <div class="form-group"  >
      <label for="name">Name Of The Employer</label>
      <input type="text" class="form-control" id="nameOfTheEmployer" required [(ngModel)]="currentUser.nameOfTheEmployer" name="nameOfTheEmployer">
    </div>

  <div class="form-group"  >
    <label for="name">Office Address</label>
    <input type="text" class="form-control" id="officeAddress" required [(ngModel)]="currentUser.officeAddress" name="officeAddress">
  </div>

 

   <div class="form-group"  >
    <label for="name">Permanent Address</label>
    <input type="text" class="form-control" id="permanentAddress" required [(ngModel)]="currentUser.permanentAddress" name="permanentAddress">
  </div>
  
    <button type="submit" class="btn btn-success" > Update My Profile</button>
    <!-- <button routerLink="/profile" routerLinkActive="active" class="btn btn-link">Cancel</button> -->
    <button type="button" class="btn btn-secondary" (click)="cancelProfile()" style="margin-left:20px">Cancel</button>

</form>
</div>    
