/* You can add global styles to this file, and also import other style files */
 


* {
	box-sizing: border-box;
}
body {
 
	padding: 0;
	
	background-color: #F1F2F7;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    font-family: font90201;
    
}
.container{
    display: flex;
}

 .header-1{
    /* width:100%;
    height: 5vh;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center; */
    margin-top: 9px;
    
}  
.header-1 i{
    margin-right: 20px;
    
    
    
}
.header-2{
    width:100%;
    height: 5vh;
     background-color: white;
    margin-top: 3px;
   display: flex;
    justify-content: flex-end; 
    align-items: center;
    justify-content: space-between;
    
    
}
.header-2 .dashboard{
     margin-left:300px; 
    
      color:#59B2E3 ;
    font-size:80%;
    
}





.header-2 .property{
    border:1px solid #59B2E3;
    background: #59B2E3;
border-radius: 4px;
    color: white;
    font-size:80%;
    margin-right: 20px;
    padding: 5px;
    height:30px;
    
}
.admin{
    background:#529ACC ;
     padding-left: 20px;
    width: 90px;
    padding-top: 20px;
}
.nav{
    background: white;
    width: 200px;
    
    
    
}
.nav li{
    text-decoration: none;
    display: flex;
    padding-top: 20px;

    
}
 
.nav a{
    text-decoration: none; 
}
.nav a:hover, .nav a:focus {
    color:black;
    text-decoration: none; 
}
.side-nav{
    display: flex;
    margin-top: 1px;
    height: 100vh;
    /* margin-top: -85px; */
    
}
.side-nav .admin img{
    border-radius: 50%;
   

}
/*drop down*/


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  

  color: black;
  padding: 14px 16px;
  background-color: white;
    border-radius: 50px;
    margin-right: 30px;
    padding: 5px;
    margin-top: 15px;
    font-size:80%;
  
  
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: black;
    color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


/*main*/
.row{
    display: flex;
    margin-bottom: 10px;
     margin-top: 20px;
}


.widget{
    width:650px;
    height: 40vh;
    background-color: white;
    margin-right: 13px;
    margin-left: 13px;
    font-size:90%;
    
}
.box{
     border:1px solid #59B2E3;
    color: #59B2E3;
    margin-top: 20px;
    padding-left: 10px;
    font-size: 80%;
    
}
.box div{
    display: flex;
    color:#E2E2E2;
    
   
    
}
.statistics{
    display: flex;
    justify-content: space-between;
   
}


.widget-1{
    width:290px;
    height: 40vh;
    background-color: white;
    font-size:70%;

}
.container-2{
    width:280px;
    margin: 0 auto;
   
}
.container-2 img{
    margin:20px 20px 0 10px;
        
    
}
.activity{
display: flex;
}

.activity .david {
    display: flex;
    flex-direction: column;
   
}
.david div{
    display: flex;
    justify-content: space-between;
}
.activity div img{
    border-radius: 50%;
}


.row-1{
    display: flex;
    
    
    
}
 .widget-1 h3{
     font-size:150%;
    
}
.col{
    width:130px;
    height: 86px;
     background-color:#F5F5F5;
    margin:0 10px 10px 10px;
    text-align: center;
    padding:30px 0;
    font-size: 70%;
    
}
.col span{
    font-size:250%;
    
    
    
}
.col span i{
    font-size: 70%;
}
.col-1{
    width:290px;
    height: 120px;
    background-color: #F5F5F5;
    margin-right: 10px;
}
.container-1{
    width:630px;
    height: 43vh;
    margin: 0 auto;
   

}
.container-1 .flex{
     display: flex;
    
    justify-content: space-between;
    
}
.container-2 div h1{
   z-index:1;
    margin-top: -130px;
    margin-left: 90px;
}
.col-2 span{
    color: #E2E2E2;
    
}
.col-2 p span{
    
    width:20px;
    height: 20px;
    
}
 .experience{
     background-color: #59B2E3;
} 

.income{
    background-color: #59E091;
}


.col-2 a{
    color:#A86723;
text-decoration: none;
    padding:5px;
 background-color: #F99D3C33;
border: 0.5px solid #707070;
border-radius: 9px;
}



.days{
    display: flex;
    justify-content: space-around;
    font-size:70%;
    margin-right: 50px;
}
.buttons{
    display: flex;
    justify-content: space-between;
     margin-top: 10px;
}
.buttons a{
    text-decoration: none;
     padding:5px;
 
border-radius: 9px;
    color: white;
   
    
}
.color{
   display: flex; 
}
.color p span{
    width:10px;
    height: 5px;
    border: 1px solid black;
    padding: 5px;
}
