/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; 

.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 70px;
    background-color: blue;
    text-align: center;
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.bed-alloted{
    background-color: white;
    padding: 5px;
    cursor: pointer;
    margin-top: 3px;
    border-radius: 9px;
}

.bed-alloted:hover{
    background-color: #ddd;
}
.bed-alloted:active, .bed-alloted:visited{
    background-color: green;
}

.bed-alloted-yes{
    background-color: orangered;
    color: white;
}
.bed-alloted-no{
    /* background-color: green; */
}
.bed{  
    background-repeat: no-repeat;
    /* padding: 6px;*/
}
.bed-image{
    width: 16px;
}
.room-header{
    color: white;
    background-color: black;
    padding-left: 12px;
    padding-right: 11px;
    margin-bottom: 8px;
    border: 1px solid;
}
.bed-box{
    display: inline-block;
    padding: 4px;
}

