<div class="container-fluid vw-100 vh-100" style="overflow: hidden;" class="login-page"> 
   
<div class="row vw-100 vh-100">

    <div class="col-md-7 col-lg-7 col-xl-7 col-sm-7 col-7 p-l-0 p-r-0">
        <div class="bg_div">
            <img src="assets/imges/Mask_img.png" width="100%" height="100%"/>
        </div>                     
    </div>

    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5 p-l-0 p-r-0">
        <div class="bg_div form_div">
            <div class="intro-logo">
                <img src="assets/imges/Logo_2.svg"/>
            </div>

<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
       <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="subscription.name" name="name">
    </div>
    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="subscription.emailId" name="emailId">
    </div>
    <div class="form-group">
      <label for="name">User Name</label>
      <input type="text" class="form-control" id="userName" required [(ngModel)]="subscription.userName" name="userName">
    </div>
    <div class="form-group">
      <label for="name">Phone Number</label>
      <input type="text" class="form-control" id="contactNumber" [(ngModel)]="subscription.contactNumber" name="phoneNumber">
    </div>
    <div class="form-group">
      <label for="name">No of Subscription</label>
      <input type="text" class="form-control" id="subscriptions" required [(ngModel)]="subscription.subscriptions" name="noOfSubscriptions">
    </div>
    
      <!--<label for="name" class="form-control"  required [(ngModel)]="subscription.selectedSubscriptionPlan" name="selectedSubscriptionPlan">Type of Subscription</label>-->
      <!--<input type="text" class="form-control" id="selectedSubscriptionPlan" required [(ngModel)]="subscription.selectedSubscriptionPlan" name="selectedSubscriptionPlan">-->
    <div class="form-group">
      <label [(ngModel)]="subscription.selectSubscriptionPlan" >Type of Subscription</label><br>
     <input type="radio" name="subscriptionPlan" value="1month" checked="checked"> 1 Month/Free<br>
     <input type="radio" name="subscriptionPlan" value="3months"> 3 Months/$250<br>
     <input type="radio" name="subscriptionPlan" value="6months"> 6 Months/$175<br>
     <input type="radio" name="subscriptionPlan" value="1year"> 1 Year/$155<br>
    </div>

   <!-- <div class="form-group">
       <label for="name">Message</label>
      <input type="text" class="form-control" id="message" [(ngModel)]="subscription.message" name=" message">
    </div>-->
     <!--<div class="form-group">-->
       <!--<label for="name">Status</label>-->
      <!--<input type="text" class="form-control" id="viewStatus" [(ngModel)]="subscription.viewStatus" name=" viewStatus">-->
    <!--</div>-->
     <!--<div class="form-group">-->
       <!--<label for="name">Notification Category</label>-->
      <!--<input type="text" class="form-control" id="notificationCategory" [(ngModel)]="subscription.notificationCategory" name=" notificationCategory">-->
    <!--</div>-->
    <button type="submit" class="btn btn-success">Request Subscription</button>
    <a routerLink="/login" class="btn btn-link">Cancel</a>
  </form>
</div>
</div>

</div>
</div>

<!-- <div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>

</div> -->

