<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Floor Details</h2>
      <div> 
          <a routerLink="addFloor" class="btn btn-info" routerLinkActive="active">Add Floor</a>
       </div>
    </div>
</div>  
<br>
<div class="row aln-center">
    <button routerLink="rooms" class="btn btn-info" routerLinkActive="active">Floor 1</button>
</div>
<div class="row aln-center">
    <div *ngFor="let floor of floors | async" class="col-4 col-6-medium col-12-small">
        <section class="box style1">
            <span class="icon solid featured fa-comments"></span>
            <p>{{floor.floor_number}}</p>
            <p>{{floor.numberOfRooms}}</p>
            <p>
                <button (click)="deleteFloor(hostel.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateFloor(hostel.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="floorDetails(hostel.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </p>
        </section>
    </div>
</div>