
<!--<div class="container">-->
  <!--<div class="row">-->
    <!--<div class="col-sm-6 col-lg-3">-->
      <!--<h5>1-sharing</h5>-->
      <!--<div style="height:300px;width:300px;">-->
      <!--<canvas baseChart-->
        <!--[data]="doughnutChartData"-->
        <!--[labels]="doughnutChartLabels"-->
        <!--[chartType]="doughnutChartType">-->
      <!--</canvas>-->
      <!--</div>-->
    <!--</div>-->
     <!--<div class="col-sm-6 col-lg-3">-->
             <!--<h5>2-sharing</h5>-->
      <!--<div style="height:300px;width:300px;">-->
      <!--<canvas baseChart-->
        <!--[data]="doughnutChartData"-->
        <!--[labels]="doughnutChartLabels"-->
        <!--[chartType]="doughnutChartType">-->
      <!--</canvas>-->
      <!--</div>-->
    <!--</div>-->
     <!--<div class="col-sm-6 col-lg-3">-->
             <!--<h5>3-sharing</h5>-->
      <!--<div style="height:300px;width:300px;">-->
      <!--<canvas baseChart-->
        <!--[data]="doughnutChartData"-->
        <!--[labels]="doughnutChartLabels"-->
        <!--[chartType]="doughnutChartType">-->
      <!--</canvas>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<div class="doughnut-display">

  <div class="doughnut-title"> <span class="glyphicon glyphicon-user"></span> {{sharingInfo.sharingType}}</div>
   
  <canvas
      baseChart
      [chartType]="'doughnut'"
      [datasets]="doughnutChartData"
      [labels]="doughnutChartLabels"
      [options]="doughnutChartOptions"
      [legend]="false"
      [colors]="doughnutChartColor"
      (chartClick)="onChartClick($event)">
  </canvas>

  <div class="doughnut-data">

    <div class="filled">
      <div class="lable">Filled</div>
      <div class="value">{{sharingInfo.data[0]}}</div>
    </div>
    <div class="vaccant">
      <div class="lable">Vaccant</div>
      <div class="value">{{sharingInfo.data[1]}}</div>
    </div>
    <div class="reserved">
      <div class="lable">Reserved</div>
      <div class="value">{{sharingInfo.data[2]}}</div>
    </div>

  </div>
       
   
</div>
