<!--<div class="container" style="position:relative; height:50vh; width:35vw">-->
 <!--<div class="row">-->
  <!--<div class="col-sm-4">-->
    <!--<h6>1-sharing</h6>-->
    <!--<canvas baseChart-->
      <!--[data]="doughnutChartData"-->
      <!--[labels]="doughnutChartLabels"-->
      <!--[chartType]="doughnutChartType">-->
    <!--</canvas>-->
  <!--</div>-->
  <!--<div class="col-sm-4 ">-->
        <!--<h6>2-sharing</h6>-->
     <!--<canvas baseChart-->
      <!--[data]="doughnutChartData"-->
      <!--[labels]="doughnutChartLabels"-->
      <!--[chartType]="doughnutChartType">-->
    <!--</canvas>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <h5>1-sharing</h5>
      <div style="height:300px;width:300px;">
      <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType">
      </canvas>
      </div>
    </div>
     <div class="col-sm-6 col-lg-3">
             <h5>2-sharing</h5>
      <div style="height:300px;width:300px;">
      <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType">
      </canvas>
      </div>
    </div>
     <div class="col-sm-6 col-lg-3">
             <h5>3-sharing</h5>
      <div style="height:300px;width:300px;">
      <canvas baseChart
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType">
      </canvas>
      </div>
    </div>
  </div>
</div>
