<h4>Update Room</h4><hr><br/>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <label for="name">Room Facility Type</label>
        <input type="text" class="form-control col col-sm-6" id="room_facility_type" (ngModel)="room.room_facility_type" name="room_facility_type"><br/>

        <label for="name">Share Type</label>
        <input type="text" class="form-control col col-sm-6" id="room_share_type" (ngModel)="room.room_share_type" name="room_share_type"><br/>     
        
        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>