<div class="modal fade" id="floorModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add Floor</h4>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <label>Floor Id</label>
            <input type="text" class="form-control col col-md-5"><br/>
            <label>Description</label>
            <input type="text" class="form-control col col-md-5"><br/>
            <label>Rooms:</label>
            <button type="button" class="btn btn-success">+</button>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>